name: Release Published
on:
  push:
    tags:
      - "v*.*.*"

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 18
      - run: npm install
      - name: Publish launcher
        uses: JS-DevTools/npm-publish@8f08ec0dafe29acea4e9efe18e67ebde86904ad1 # v4.1.2
        with:
          token: ${{ secrets.NPM_PUBLISH_TOKEN }}
      - name: Checkout Node-RED
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: node-red/node-red
          path: node-red
      - name: Build Theme
        run: npm run build-theme -- --src=node-red
      - name: clean up
        run: rm -rf node-red
      - name: Publish Theme
        continue-on-error: true
        uses: JS-DevTools/npm-publish@8f08ec0dafe29acea4e9efe18e67ebde86904ad1 # v4.1.2
        with:
          package: lib/theme
          token: ${{ secrets.NPM_PUBLISH_TOKEN }}
