name: Release Published
on:
  push:
    tags:
      - "v*.*.*"

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 18
      - run: npm install
      - name: Publish launcher
        uses: JS-DevTools/npm-publish@0fd2f4369c5d6bcfcde6091a7c527d810b9b5c3f # v4.1.5
        with:
          token: ${{ secrets.NPM_PUBLISH_TOKEN }}
      - name: Checkout Node-RED
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: node-red/node-red
          path: node-red
      - name: Build Theme
        run: npm run build-theme -- --src=node-red
      - name: clean up
        run: rm -rf node-red
      - name: Publish Theme
        continue-on-error: true
        uses: JS-DevTools/npm-publish@0fd2f4369c5d6bcfcde6091a7c527d810b9b5c3f # v4.1.5
        with:
          package: lib/theme
          token: ${{ secrets.NPM_PUBLISH_TOKEN }}
